<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Artistry_CL.Properties.Settings.ArtistryConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Artistry;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>