<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZOODB_CL.Properties.Settings.ZooConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Zoo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>